@charset "UTF-8";

/* reset */
html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select{padding:0; margin:0; word-break:keep-all; word-wrap:break-word;}
body{width:100%; height:100%; font-family:'Noto Sans KR', Dotum, '굴림', Gulim, Helvetica, sans-serif; font-size:16px; font-weight:300; letter-spacing:-0.5px; color:#333; -webkit-text-size-adjust:none;}
h1, h2, h3, h4, h5, h6, strong{font-weight:400; font-size:100%;}
img { max-width:100%; }
fieldset, img, button{border:0;}
img, input, button{vertical-align:top;}
table{width:100%; border-collapse:collapse;}
address, em{font-style:normal;}
ol, ul{list-style:none;}
hr{display:none;}
a{text-decoration:none; color:#444;}
a:hover, a:active{text-decoration:none;}
legend{position:absolute; left:-9999px; top:0}
caption{overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
button{background:none; box-sizing:border-box; font-family:'Noto Sans KR', Dotum, '굴림', Gulim, Helvetica, sans-serif; cursor:pointer;}
button::-moz-focus-inner{padding:0; border:0;}
.blind{overflow:hidden; position:absolute; left:-9999px; top:0; width:1px; height:1px; font-size:0; text-indent:-9999px;}
.behind{overflow:hidden; font-size:0; text-indent:-9999px;}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(/BaedalProject/resources/asset/font/NotoSansKR-Light.woff2) format('woff2'),
         url(/BaedalProject/resources/asset/font/NotoSansKR-Light.woff) format('woff'),
         url(/BaedalProject/resources/asset/font/NotoSansKR-Light.eot) format('embedded-opentype');
  }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 400;
     src: url(/BaedalProject/resources/asset/font/NotoSansKR-Regular.woff2) format('woff2'),
          url(/BaedalProject/resources/asset/font/NotoSansKR-Regular.woff) format('woff'),
          url(/BaedalProject/resources/asset/font/NotoSansKR-Regular.eot) format('embedded-opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 500;
     src: url(/BaedalProject/resources/asset/font/NotoSansKR-Medium.woff2) format('woff2'),
          url(/BaedalProject/resources/asset/font/NotoSansKR-Medium.woff) format('woff'),
          url(/BaedalProject/resources/asset/font/NotoSansKR-Medium.eot) format('embedded-opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 700;
     src: url(/BaedalProject/resources/asset/font/NotoSansKR-Bold.woff2) format('woff2'),
          url(/BaedalProject/resources/asset/font/NotoSansKR-Bold.woff) format('woff'),
          url(/BaedalProject/resources/asset/font/NotoSansKR-Bold.eot) format('embedded-opentype');
   }


/* 테이블 공통 */
.tit{padding:100px 0 50px; margin-bottom:50px; text-align:center; font-size:32px; letter-spacing:-1.5px; border-bottom:1px solid #ccc;}
.content{margin-bottom:100px;}
.table_wrap th{height:50px; background-color:#efefef; border:1px solid #ccc; box-sizing:border-box; text-align:center; }
.table_wrap td{text-align:center; border:1px solid #ccc; box-sizing:border-box;}
.table_wrap input{width:300px; height:35px; padding:10px; border:1px solid #cbcbcb; box-sizing: border-box;}

/* skipNavi */
#skipNavi a{position:absolute; left:-9999px; top:0;}
#skipNavi a:focus{display:block; left:0; top:0; z-index:1000; width:300px; height:50px; background-color:#000; font-size:30px; color:#fff; line-height:50px; text-align:center;}

/* header */
#header{width:100%; height:80px; background-color:#2B2B37;}
#header .header_inner{position:relative; width:1280px; margin:0 auto;}
#header .header_inner .logo{position:absolute; top:20px; width:100px; text-align:center; }
#header .header_inner .logo a{display:block; width:100%; color:#fff; font-size:24px;}

/* gnb */
#gnb{overflow:hidden; height:80px; padding-left:515px; text-align:center; box-sizing:border-box;}
#gnb .depth01{float:left; width:20%;}
#gnb .depth01 a{display:block; width:100%; padding:25px 0 28px; font-size:18px; box-sizing:border-box; letter-spacing:-1px; font-weight:500; color:#fff;}

/* header_login */
.login{position:absolute; right:0; top:20px; width:120px; height:40px; text-align:center; border:1px solid #fff; box-sizing:border-box;}
.login a{display:block; width:100%; font-size:24px; font-weight:bold; line-height:40px; color:#fff;}

/* footer */
#footer{width:100%; height:80px; background-color:#000;}
#footer .footer_inner{width:1280px; margin:0 auto;}
#footer .center{text-align:center; line-height:80px;}
#footer .center p{font-size:24px; color:#fff;}
